%table.table.table-striped.table-bordered
  %thead
    %tr
      %th
      %th= translate_helper("run_name_column")
      %th= translate_helper("run_start_time_column")
      %th= translate_helper("run_end_time_column") 
      %th= translate_helper("run_vehicle_column") 
      %th= translate_helper("run_driver_column") 
      %th= translate_helper("repeating_schedule")
  %tbody
    - @runs.each do |run|
      %tr
        %td
          = link_to(translate_helper("view"), repeating_run_path(run)) if can?(:show, run)
        %td
          = run.name
        %td
          .hidden
            = run.scheduled_start_time.try(:strftime, "%H:%M")
          = run.scheduled_start_time.try(:to_fs,:time_only)
        %td
          .hidden
            = run.scheduled_end_time.try(:strftime, "%H:%M")
          = run.scheduled_end_time.try(:to_fs,:time_only)
        %td
          = run.vehicle ? run.vehicle.name : translate_helper('no_vehicle')
        %td
          = run.driver  ? run.driver.user_name : translate_helper('no_driver')
        %td
          = run.schedule.to_s rescue nil
    
:javascript
  $(function() {
    $('table').dataTable();
  });