%table.table.table-condensed
  %thead
    %tr
      %th.col-sm-3= translate_helper("document_associations_associable_date_heading")
      %th.col-sm-5= translate_helper("document_associations_associable_name_heading")
      %th.col-sm-4= translate_helper("document_associations_associable_type_heading")
  %tbody
    - if document_associations.empty?
      %tr
        %td{:colspan => "3"}= translate_helper("document_associations_associables_empty")
    - document_associations.each do |document_association|
      %tr
        %td
          = document_association.associable.associable_date.to_fs(:long)
        %td
          = document_association.associable.associable_name
        %td
          = document_association.associable.class.name.underscore.humanize.capitalize
/ END .table
