:ruby
  @manifest_report = CustomReport.find_by_name('manifest')

:css
  table td p {
    line-height: normal;
    margin: 0px;
  }

  .itinerary_eta {
    width: 80px;
  }

= render 'shared/highlight_active_tab_js', is_primary_nav: true, tab_class: 'dispatchers'
#page-header
  = render :partial => 'filters'
  .action-buttons
    = link_to translate_helper(:recurring_scheduling), recurring_dispatchers_path, class: 'btn action-button'
#dispatch_runs_trips.col-sm-12
  .col-sm-12.dispatch-main#dispatch_runs_container
    = render 'runs_panel'
  .col-sm-12#unassigned_trips_container
    = render 'unassigned_trips_panel'

= render 'trips/trip_result_reason_dialog'

:javascript
  var cancel_codes = #{TripResult.client_code_verify_result_ids.to_json.html_safe};
  var run_ids = #{@runs.pluck(:id) || []};
  var target_run_id = #{params[:run_id].try(:to_i) || nil.to_json};
  var dropping_to_trips = false;
  var splitter;

  // Local Storages
  // dispatch_loaded_run_ids = [] (list of run panels that are open)
  // dispatch_runs_panel_collapsed: 1/0 (0 if the runs panel is collapsed)
  // dispatch_runs_panel_height
  // dispatch_run_panel_{id}_collapsed: 1/0 (0 if a specific run panel is collapsed)
  // dispatch_run_panel_{id}_height
  // dispatch_unassigned_trips_collapsed: 1/0 (0 if the unassigned trips panel is collapsed)
  // dispatch_unassigned_trips_height

  // update one trip schedule status
  function schedule_trip(trip_id, run_id, prev_run_id) {
    // re-schedule a trip
    $.ajax({
      url: "#{schedule_dispatchers_path}",
      method: 'post',
      data: {
        trip_id: trip_id,
        run_id: run_id,
        prev_run_id: prev_run_id
      }
    });
  }

  // unschedule multiple trips
  function unschedule_trips(trip_ids, run_id, prev_run_id) {
    // re-schedule a trip
    $.ajax({
      url: "#{unschedule_dispatchers_path}",
      method: 'post',
      data: {
        trip_ids: trip_ids,
        run_id: run_id,
        prev_run_id: prev_run_id
      }
    });
  }

  // schedule multiple unassigned trips
  function schedule_multiple_trips(trip_ids, status_id) {
    // re-schedule a trip
    $.ajax({
      url: "#{schedule_multiple_dispatchers_path}",
      method: 'post',
      data: {
        trip_ids: trip_ids,
        status_id: status_id
      }
    });
  }

  // update run manifest order
  function change_run_manifest_order(run_id, itin_id, new_manifest_order) {
    // re-schedule a trip
    $.ajax({
      url: "#{update_run_manifest_order_dispatchers_path}",
      method: 'post',
      data: {
        run_id: run_id,
        itin_id: itin_id,
        manifest_order: new_manifest_order.join(',')
      }
    });
  }

  // scroll to a rendered run manifest panel
  function scroll_to_run_trips_panel(run_id) {
    $('#dispatch_runs_container').animate({
      scrollTop: $("#run_trips_panel_" + run_id).offset().top
    }, 1000);
  }

  function collapse_panel(panel) {
    panel.find('.panel-body').slideUp();
    panel.find('.panel-expand-collapse').addClass('panel-collapsed');
    panel.find('.panel-expand-collapse i').removeClass('fa-chevron-up').addClass('fa-chevron-down'); 
    panel.find('.floatThead-wrapper').hide();
  }

  function expand_panel(panel) {
    panel.find('.panel-body').slideDown();
    panel.find('.panel-expand-collapse').removeClass('panel-collapsed');
    panel.find('.panel-expand-collapse i').removeClass('fa-chevron-down').addClass('fa-chevron-up');
    panel.find('.floatThead-wrapper').show();
  }

  function reverse_collapse_panel(panel, callback) {
    panel.find('.panel-body').slideUp(100, function() {
      if(callback) {
        callback();
      }
    });
    panel.find('.panel-expand-collapse-reverse').addClass('panel-collapsed');
    panel.find('.panel-expand-collapse-reverse i').removeClass('fa-chevron-down').addClass('fa-chevron-up'); 
    panel.find('.floatThead-wrapper').hide();
  }

  function reverse_expand_panel(panel, callback) {
    panel.find('.panel-body').slideDown(100, function() {
      if(callback) {
        callback();
      }
    });
    panel.find('.panel-expand-collapse-reverse').removeClass('panel-collapsed');
    panel.find('.panel-expand-collapse-reverse i').removeClass('fa-chevron-up').addClass('fa-chevron-down'); 
    panel.find('.floatThead-wrapper').show();
  }

  function collapse_run_manifest(run_id) {
    collapse_panel($("#run_trips_panel_" + run_id));
  }

  // ajax load run manifest panel and render
  function load_run_manifest(run_id, scroll_to) {
    $.ajax({
      url: "#{run_trips_dispatchers_path}?run_id=" + run_id,
      success: function() {
        var loaded_run_ids = get_loaded_run_id_array();
        if(loaded_run_ids.indexOf(run_id) < 0) {
          loaded_run_ids.push(run_id);
          localStorage.setItem('dispatch_loaded_run_ids', loaded_run_ids.join(','));
        }
        is_target_run = false;
        if(run_id || run_id == 0) {
          is_target_run = run_id == target_run_id;
        }
        if(scroll_to || is_target_run) {
          scroll_to_run_trips_panel(run_id);
        }

        var prev_height = parseInt(localStorage.getItem('dispatch_run_panel_' + run_id + '_height'));
        if(prev_height > 0) {
          //$("#run_trips_panel_" + run_id + " .panel-body").height(prev_height);
        }

        var was_collapsed = localStorage.getItem('dispatch_run_panel_' + run_id + '_collapsed');
        if(was_collapsed == '0') {
          collapse_run_manifest(run_id);
        }

        // Subscribe to real-time ETA updates for this run
        if(typeof App !== 'undefined' && App.create_run_eta_channel) {
          App.create_run_eta_channel(run_id);
        }
      }
    });
  }

  function get_loaded_run_id_array() {
    var id_array = [];
    var loaded_run_id_string = localStorage.getItem('dispatch_loaded_run_ids');
    if(loaded_run_id_string) {
      id_array = $.unique(loaded_run_id_string.split(',')).sort();
    }

    return id_array;
  }

  // load previously open run manifest panels
  function load_runs_panel() {
    var prev_height = parseInt(localStorage.getItem('dispatch_runs_panel_height'));
    if(prev_height > 0) {
      //$('#runs_panel .panel-body').height(prev_height);
    }

    var was_collapsed = localStorage.getItem('dispatch_runs_panel_collapsed');
    if(was_collapsed == '0') {
      // by default, collapse Unassigned Trips panel
      $('#runs_panel .panel-expand-collapse').click();
    }

    var loaded_run_ids = get_loaded_run_id_array();
    if(target_run_id && loaded_run_ids.indexOf(target_run_id) < 0 && loaded_run_ids.indexOf(target_run_id.toString()) < 0) {
      loaded_run_ids.push(target_run_id);
    }
    if(loaded_run_ids.length > 0) {
      loaded_run_ids.forEach(function(run_id) {
        if(run_ids.indexOf(parseInt(run_id)) >= 0) {
          load_run_manifest(run_id, false);
        }
      });
    }
  }

  // load specific type of trips
  function load_trips(type_id) {
    // re-schedule a trip
    $.ajax({
      url: "#{load_trips_dispatchers_path}",
      data: {
        trip_status_id: type_id
      }
    });
  }

  // expand or collapse given previous state
  function load_unassigned_trips_panel() {
    var prev_height = parseInt(localStorage.getItem('dispatch_unassigned_trips_height'));
    if(prev_height > 0) {
      //$('#unassigned_trips_panel .panel-body').height(prev_height);
    }

    var was_collapsed = localStorage.getItem('dispatch_unassigned_trips_collapsed');
    if(was_collapsed != '1') {
      // by default, collapse Unassigned Trips panel
      $('#unassigned_trips_panel .panel-expand-collapse-reverse').click();
    }
  }

  //update trips table container height so fixedHeader works
  function update_trips_panel_height() {
    var new_height = $('#unassigned_trips_container').outerHeight() - $('#unassigned_trips_panel .panel-heading').outerHeight();
    $('#unassigned_trips_panel .panel-body').height(new_height);
  }

  // configure to be draggable
  function configure_unassigned_trips_table() {
    $('#unassigned_trips_table tbody tr td').draggable({
      appendTo: 'body',
      zIndex: 10010,
      helper: function() {
        return $(this).parent('tr').clone();
      }
    });

    $("#unassigned_trips_panel").droppable({
      tolerance: 'pointer',
      hoverClass: "drop-zone-active-red",
      over: function(event, ui) {
        $(".run_trips_panel.ui-droppable").droppable("disable");
      },
      out: function(event, ui) {
        $(".run_trips_panel.ui-droppable").droppable("enable");
      },
      drop: function(e, ui) {
        $('.drop-zone-active').removeClass('drop-zone-active');
        var source_panel = ui.draggable.parents('.panel');
        var prev_run_id = source_panel.data('run-id');
        if(prev_run_id) {
          var trip_id = ui.draggable.data('trip-id');
          unschedule_trips(trip_id, $('.unassigned_trip_type_dropdown').data('status-id'), prev_run_id);
        }

        setTimeout(function() {
          $(".run_trips_panel.ui-droppable").droppable("enable");
        }, 200);
        
      }
    });

    //$('#unassigned_trips_table').bootstrapTable();
    // fixed table header
    $('#unassigned_trips_table').floatThead({ 
      scrollContainer: function($table){
       return $table.closest('.panel-body');
      }
    });

    update_trips_panel_height();
  }

  function change_trips_trip_result(trip_ids, result_id, reason) {
    $.ajax({
      url: "#{batch_change_same_run_trip_result_dispatchers_path}",
      method: 'post',
      data: {
        trip_ids: trip_ids,
        trip_result_id: result_id,
        result_reason: reason
      }
    });
  }

  // window height changes, then need to update splitter position and container height
  function on_window_resize() {
    var prev_height = $('#dispatch_runs_trips').height();
    // var new_height = $(window).innerHeight() - 180; // exclude page nav bar and footer height
    var new_height = $(window).innerHeight() - $('#dispatch_runs_container').offset().top; // exclude height of everything above runs container
    $('#dispatch_runs_trips').height(new_height);
    if(splitter) {
      var prev_pos = splitter.position();
      var new_pos = new_height - (prev_height - prev_pos);
      if((new_height - new_pos) < 40) {
        new_pos = new_height - 40;

        var collapseButton = $('#unassigned_trips_container').find('.panel-expand-collapse-reverse');
        var panel = $('#unassigned_trips_panel');

        if(!collapseButton.hasClass('panel-collapsed')) {
          reverse_collapse_panel(panel);
          localStorage.setItem('dispatch_unassigned_trips_collapsed', '0'); 
        } 
      }
      splitter.position(new_pos);
    }
  }

  function update_splitter_position() {
    if(!splitter) {
      return;
    }

    var new_height = $('#unassigned_trips_container').position().top;
    splitter.position(new_height - $('.hsplitter').height()/2);
  }

  // page main entry point
  $(function() {  
    // init the splitter between Runs section and Trips section
    var splitter_height = $(window).innerHeight() - $('#dispatch_runs_container').offset().top;
    splitter = $('#dispatch_runs_trips').height(splitter_height).split({
      position: '80%',
      limit: 40,
      onDragEnd: function() {
        update_trips_panel_height();
      },
      onDrag: function(e) {
        var collapseButton = $('#unassigned_trips_container').find('.panel-expand-collapse-reverse');
        var panel = $('#unassigned_trips_panel');
        var is_collapsed = collapseButton.hasClass('panel-collapsed');
        if($('#unassigned_trips_container').height() > 40) {
          if(collapseButton.hasClass('panel-collapsed')) {
            is_collapsed = false;
            reverse_expand_panel(panel, function() {
              update_trips_panel_height();
            });
          }
        } else if($('#unassigned_trips_container').height() <= 40) {
          if(!collapseButton.hasClass('panel-collapsed')) {
            is_collapsed = true;
            reverse_collapse_panel(panel);
          }
        }
        
        localStorage.setItem('dispatch_unassigned_trips_collapsed', (is_collapsed ? '0' : '1')); 
        update_trips_panel_height();
      }
    });

    // Initialize a helper object with the trip result reason modal, and a list of cancellation codes.
    var trh = new TripResultHelper(
      "#tripResultReasonDialog",
      #{TripResult.reason_needed_result_ids}
    );

    // if customer has code, then need to verify the code first
    function handle_client_code_verification(customer_id, proceed_fn) {
      var callback_fn = function(data) {
        if (data.show_prompt) {
          verify_client_code(data.code, "#{verify_code_customer_path('xxx')}".replace('xxx', customer_id), function() {
            proceed_fn();
          });
        } else {
          proceed_fn();
        }
      }
      if(customer_id) {
        var url = "#{prompt_code_customer_path('xxx')}".replace('xxx', customer_id);
        check_if_verify_client_code(url, callback_fn);
      } else {
        callback_fn({});
      }
    }

    // Handler for changing multiple selected trip results
      $(document).on('click', '.trip_result_option', function() {
        var trip_ids = [];
        var customer_ids = [];
        $(this).parents('.panel').find('tbody input.trip-selected:checked').each(function() {
          trip_ids.push($(this).parents('tr').data('trip-id'));
          customer_ids.push($(this).parents('tr').data('customer-id'));
        });

        if(trip_ids.length == 0) {
          bootbox.alert('Please select trips first.');
          return;
        }

        var resultCode = $(this).data('trip-result-id');
        var callback_fn = function() {
          trip_ids = trip_ids.join(','); 

          if(trh.isReasonNeeded(resultCode)) { // If result is a code that needs to ask for reason...
            trh.prepareModal(
              "", // Set result reason input to blank
              true, // Show result reason input
              { // Prepare modal responses:
                confirm: function() { // update the results and result reason and submit form
                  change_trips_trip_result(trip_ids, resultCode, trh.modalInput.val());
                },
                skip: function() { // just update results and submit the form
                  change_trips_trip_result(trip_ids, resultCode, null);
                },
                cancel: function() { // don't update results or submit form
                  return;
                }
              }
            )
          } else { // If result is NOT a cancel code...
            trh.prepareModal(
              "", // Set result reason input to blank
              false, // Don't show result reason input
              { // Prepare modal responses:
                confirm: function() {
                  change_trips_trip_result(trip_ids, resultCode, null);
                },
                cancel: function() {
                  return;
                }
              }
            )
          }

          trh.showModal();
        };
        
        // only process 1 customer
        if(cancel_codes.indexOf(resultCode) >= 0 && $.unique(customer_ids).length == 1) { // canceling a trip
          handle_client_code_verification(customer_ids[0], callback_fn);
        } else {
          callback_fn();
        }
      });

    // run manifest panel expand/collapse
    $(document).on('click', '.panel-heading span.panel-expand-collapse', function(e){
      var $this = $(this);
      var panel = $this.parents('.panel');
      var is_collapsed = false;
      if(!$this.hasClass('panel-collapsed')) {
        collapse_panel(panel);

        is_collapsed = true;      
      } else {
        expand_panel(panel);
      }

      if(panel.hasClass('run_trips_panel')) {
        var run_id = panel.data('run-id');
        localStorage.setItem('dispatch_run_panel_' + run_id + '_collapsed', (is_collapsed ? '0' : '1'));
      }

      if(panel.attr('id') == 'runs_panel') {
        localStorage.setItem('dispatch_runs_panel_collapsed', (is_collapsed ? '0' : '1'));
      }
    });

    // unassigned trips panel expand/collapse
    $(document).on('click', '.panel-heading span.panel-expand-collapse-reverse', function(e){
      var $this = $(this);
      var panel = $this.parents('.panel');
      var is_collapsed = false;
      if(!$this.hasClass('panel-collapsed')) {
        reverse_collapse_panel(panel);
        is_collapsed = true;
      } else {
        reverse_expand_panel(panel);
      }

      if(panel.attr('id') == 'unassigned_trips_panel') {
        localStorage.setItem('dispatch_unassigned_trips_collapsed', (is_collapsed ? '0' : '1'));
        if(is_collapsed) {
          $('#unassigned_trips_container').height(panel.find('.panel-heading').outerHeight());
        } else {
          $('#unassigned_trips_container').height(200);
        }
        update_splitter_position();
        setTimeout(function() {
          update_trips_panel_height();
        }, 500);
      }
    });

    // run manifest panel close
    $(document).on('click', '.panel-heading span.panel-close', function(e){
      var $panel = $(this).parents('.panel');
      $panel.hide('slow', function(){ $panel.remove(); });

      if($panel.hasClass('run_trips_panel')) {
        // clean up local storage
        var run_id = $panel.data('run-id');
        localStorage.removeItem('dispatch_run_panel_' + run_id + '_collapsed');
        localStorage.removeItem('dispatch_run_panel_' + run_id + '_height');
        var loaded_run_ids = get_loaded_run_id_array();
        var run_id_index = loaded_run_ids.indexOf(run_id.toString());
        if(run_id_index >= 0) {
          loaded_run_ids.splice(run_id_index, 1);
          localStorage.setItem('dispatch_loaded_run_ids', loaded_run_ids.join(','))
        }
      }
    });

    // close all run panels
    $(document).on('click', '.panel-heading span.panel-close-all-runs', function(e){
      $('.run_trips_panel .panel-heading span.panel-close').click();
    });

    // master checkbox to select/unselect all
    $(document).on('change', '#unassigned_trips_table .master-select-checkbox', function(e){
      $('#unassigned_trips_table').find('input.trip-selected').prop('checked', $(this).prop('checked'));
    });

    $(document).on('change', '.run_trips_panel .master-select-checkbox', function(e){
      $(this).parents('.run_trips_panel').find('input.trip-selected').prop('checked', $(this).prop('checked'));
    });

    // unassigned trips panel checkbox
    $(document).on('change', '#unassigned_trips_master_checkbox', function(e){
      $('#unassigned_trips_table').find('input.trip-selected').prop('checked', $(this).prop('checked'));
    });

    // Batch unschedule trips
    $(document).on('click', '.unschedule_trip', function(e){
      var run_panel = $(this).parents('.panel');
      var prev_run_id = run_panel.data('run-id');
      var run_id = $(this).data('status-id');
      var trip_ids = [];
      run_panel.find('tbody input.trip-selected:checked').each(function() {
        trip_ids.push($(this).parents('tr').data('trip-id'));
      });
      if(trip_ids.length > 0) {
        bootbox.confirm('Are you sure to change the status?', function(result){
          if(result) {
            unschedule_trips(trip_ids.join(','), run_id, prev_run_id);
          }
        });
      } else {
        bootbox.alert('Please select trips first.');
      }
    });

    // Batch schedule unassigned trips
    $(document).on('click', '.schedule_trip', function(e){
      var run_panel = $(this).parents('.panel');
      var status_id = $(this).data('status-id');
      var trip_ids = [];
      run_panel.find('tbody input.trip-selected:checked').each(function() {
        trip_ids.push($(this).parents('tr').data('trip-id'));
      });

      if(trip_ids.length > 0) {
        bootbox.confirm('Are you sure to change the status?', function(result){
          if(result) {
            schedule_multiple_trips(trip_ids.join(','), status_id);
          }
        });
      } else {
        bootbox.alert('Please select trips first.');
      }
    });

    // stop # link jumping to page top
    $(document).on('click', '.non_jump_top', function(e){
      e.preventDefault();
    });

    // click run_name in runs table
    $(document).on('click', '.run_name_link', function(e) {
      e.preventDefault();
      var run_id = $(this).data('run-id');
      if($("#run_trips_panel_" + run_id).length > 0) {
        scroll_to_run_trips_panel(run_id);
        return false;
      } else {
        load_run_manifest(run_id, true);
      }
      
    });

    // Change trip type to load
    $(document).on('click', '.unassigned_trip_type', function(e){
      load_trips($(this).data('status-id'));
    });

    load_runs_panel();
    load_unassigned_trips_panel();

    // cache panel heights before closing the screen
    $(window).on('beforeunload', function(){
      // dispatch_runs_panel_height
      localStorage.setItem('dispatch_runs_panel_height', $('#runs_panel .panel-body').height());
      localStorage.setItem('dispatch_unassigned_trips_height', $('#unassigned_trips_panel .panel-body').height());
      $('.run_trips_panel').each(function() {
        localStorage.setItem('dispatch_run_panel_' + $(this).data('run-id') + '_height', $(this).find('.panel-body').height());
      });
    });

    $(window).on('resize', function() {
      on_window_resize();
    });

  });
  