%tr{:class => "document-#{document.id}"}
  %td
    %p.form-control-static
      = document.document_updated_at.to_fs(:long)
  %td
    %p.form-control-static
      = link_to_if @readonly, document.description, document.document.url, target: :blank
  %td
    %p.form-control-static
      = number_to_human_size document.document_file_size
  %td
    - if @readonly
      = link_to polymorphic_path([document.documentable, document], action: :edit), title: translate_helper("edit"), class: "inline-edit" do
        %i.fas.fa-pencil-alt
    - else
      = link_to polymorphic_path([document.documentable, document]), 
          remote: true, 
          method: :delete, 
          data: { confirm: translate_helper("document_delete_confirm") }, 
          class: "delete-row-btn" do
        %i.far.fa-trash-alt{'aria-hidden' => true}
