%tr{:class => "driver_compliance-#{driver_compliance.id}#{" overdue_compliance_event danger" if driver_compliance.overdue?}"}
  %td
    %p.form-control-static
      = driver_compliance.due_date.to_s(:long)
  %td
    %p.form-control-static
      = link_to driver_compliance.event, polymorphic_path([driver_compliance.driver, driver_compliance], action: @readonly ? nil : :edit), remote: true
      - if driver_compliance.documents.present?
        %i.fas.fa-paperclip{'aria-hidden' => true}
  %td
    %p.form-control-static
      = driver_compliance.compliance_date.try(:to_fs, :long)
  - unless @readonly
    %td
      = link_to polymorphic_path([driver_compliance.driver, driver_compliance]), 
          remote: true, 
          method: :delete, 
          data: { confirm: translate_helper("driver_compliance_delete_confirm") }, 
          class: "delete-row-btn" do
        %i.far.fa-trash-alt{'aria-hidden' => true}
