#page-header
  - if edit_mode == :new
    %h1.page-title
      = translate_helper("new_run")
    .action-buttons
      = f.submit translate_helper(:save), class: 'btn action-button'
      = link_to translate_helper(:cancel), (params[:from_dispatch] == 'true' ? dispatchers_path(run_id: params[:run_id]) : runs_path), class: "btn btn-default"
  - else
    %h1.page-title
      = translate_helper("run_label")
      - if @run.cancelled?
        %span.label.label-danger{style: 'font-size: small;'}
          Cancelled
      - elsif @run.complete?
        %span.label.label-info{style: 'font-size: small;'}
          Completed
    .action-buttons
      - if edit_mode == :edit && !@run.complete?
        = f.submit translate_helper(:update), class: 'btn action-button'
        = link_to translate_helper(:cancel), (params[:from_dispatch] == 'true' ? dispatchers_path(run_id: params[:run_id]) : runs_path), class: "btn btn-default"
      - else
        - if @run.complete?
          = link_to translate_helper(:set_as_incomplete), request_uncompletion_run_path(@run), :remote => true, :title => "Change the run to be incomplete to allow further changes", :class => "btn action-button run-unlock-button" if can?(:uncomplete, @run)
        - else
          = link_to translate_helper(:change_locations), request_change_locations_run_path(@run), :remote => true, :title => "Change run start and end locations", :class => "btn action-button"
          = link_to translate_helper(:complete), complete_run_path(@run), :disabled => !@run.completable?, :title => !@run.completable? ? "Incomplete trips or missing fields" : "", :class => "btn action-button run-completion-button" if can?(:complete, @run)
          = link_to "Optimize Route", optimize_run_path(@run), method: :post, data: { confirm: "Optimize trip order for this run?" }, class: "btn action-button", title: "Use route optimizer to reorder trips" if @run.trips.count >= 2 && can?(:update, @run)
          = link_to(translate_helper("delete"), @run, data: {:confirm => translate_helper("delete_run_confirm")}, :method => :delete, :id => 'run_delete', :class=>'btn action-button btn-danger') if !@run.new_record? && can?(:destroy, @run)
          = link_to translate_helper("edit"), edit_run_path(@run), :class=>'btn action-button' if !@run.new_record? && can?(:edit, @run)
        = link_to translate_helper(:back), (params[:from_dispatch] == 'true' ? dispatchers_path(run_id: params[:run_id]) : runs_path), class: "btn btn-default"