%tr{class: 'run', data: { 'run-id' => run.id }}
  %td
    %input.run-selected{type: "checkbox"}
  %td
    -if can? :show, run
      = link_to translate_helper("view"), run_path(run)
  %td
    = run.name
    .pull-right
      - if run.cancelled?
        %span.label.label-danger
          Cancelled

      - if run.repeating_run_id.present?
        %span.label.label-info
          Recur
  %td= run.date.to_s(:long)
  %td= run.scheduled_start_time.try(:to_fs,:time_only)
  %td= run.scheduled_end_time.try(:to_fs,:time_only)
  - vehicle_overdue_check = get_vehicle_warnings(run.vehicle, run)
  %td{class: vehicle_overdue_check[:class_name], title: vehicle_overdue_check[:tips] }
    = run.vehicle ? run.vehicle.name : translate_helper('no_vehicle')
  - driver_overdue_check = get_driver_warnings(run.driver, run)
  %td{class: driver_overdue_check[:class_name], title: driver_overdue_check[:tips] }
    = run.driver  ? run.driver.user_name : translate_helper('no_driver')
  %td= run.complete ? translate_helper('complete') : translate_helper('incomplete')
  %td= reimbursement_cost_for_trips run.provider, run.trips
