%tr{:class => "vehicle_maintenance_event-#{vehicle_maintenance_event.id}"}
  %td
    %p.form-control-static
      = link_to vehicle_maintenance_event.service_date.try(:to_fs, :long), polymorphic_path([vehicle_maintenance_event.vehicle, vehicle_maintenance_event], action: @readonly ? nil : :edit), remote: true
      - if vehicle_maintenance_event.documents.present?
        %i.fa.fa-paperclip{'aria-hidden' => true}
  %td
    %p.form-control-static
      = vehicle_maintenance_event.invoice_date.try(:to_fs, :long)
  %td
    %p.form-control-static
      = vehicle_maintenance_event.odometer
  %td
    %p.form-control-static
      = vehicle_maintenance_event.vendor_name
  %td
    %p.form-control-static
      = vehicle_maintenance_event.invoice_number
  %td
    %p.form-control-static
      = number_to_currency vehicle_maintenance_event.invoice_amount
  %td
    %p.form-control-static
      = vehicle_maintenance_event.reimbursable
  %td
    %p.form-control-static
      = vehicle_maintenance_event.services_performed
  - unless @readonly
    %td
      = link_to polymorphic_path([vehicle_maintenance_event.vehicle, vehicle_maintenance_event]), 
          remote: true, 
          method: :delete, 
          data: { confirm: translate_helper("vehicle_maintenance_event_delete_confirm") }, 
          class: "btn btn-danger btn-sm pull-right" do
        %i.fa.fa-remove{'aria-hidden' => true}
