<!DOCTYPE html>
<html>
<head>
  <title>
    <%= content_for?(:title) ? yield(:title) : translate_helper("application_title") %>
  </title>
  <link href="https://fonts.googleapis.com/css?family=Barlow:400,400i,600,600i,800&amp;subset=latin-ext" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= stylesheet_link_tag "v1_theme", :media => "all" %>
  <%= render 'shared/google_maps/google_map_api' %>
  <%= action_cable_meta_tag %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body class="<%= bodytag_class %>">
  <div>
  <div id="session-timeout-warning" style="display: none;">
    <%= translate_helper("session_timeout_warning") %>
  </div>
  <div id="header">
      <span id="brand">
        <span class="logo">
          <%= translate_helper("header_content") %>
        </span>
        <span class="name">
          <a href='/'>
           <%= translate_helper("site_title") %>
          </a>
        </span>
      </span>
      <div id="user-nav">
        <% if can_access_admin_tab(current_user) %>
          <%= link_to admin_path, title: translate_helper("application_admin_link_text") do %>
            <i class="fas fa-sliders-h"></i>
          <% end %>
        <% end %>
        <% if can_access_provider_settings_tab(current_user, current_provider) %>
          <%= link_to provider_path(current_user.current_provider), title: translate_helper("current_provider_settings_link_text") do %>
            <i class="fas fa-cog"></i>
          <% end %>
        <% end %>
        <% if current_user %>
          <a href=<%= user_path(current_user)%> title="<%= current_user.display_name %>"><i class="fas fa-user-edit"></i></a>
          <%= link_to show_change_password_path, title: translate_helper("change_password") do %>
            <i class="fas fa-key"></i>
          <% end %>
          <%= link_to destroy_user_session_path(locale: I18n.default_locale), method: :delete, title: translate_helper("log_out_link_text") do %>
            <i class="fas fa-sign-out-alt"></i>
          <% end %>
          <div class="current-provider">
            Logged in to 
            <% if @provider_map.size > 1 %>
              <%= form_tag change_provider_path %>
                <select name="provider_id" onchange="form.submit();">
                  <%= options_for_select(@provider_map, selected = current_user.current_provider_id) %>
                </select>
                <%= hidden_field_tag "come_from", request.fullpath %>
              </form>
            <% else %>
              <%= current_user.current_provider.name %>
            <% end %>
          </div>
        <% end %>
      </div>
  </div><!-- /#header -->

  <div id="crossbar">
    <div class="wrap selfclear">
      <ul id="primary-nav" class="selfclear">
        <% if show_scheduling? %><li class="dispatchers"><%= link_to translate_helper("application_trips_runs_link_text"), dispatchers_path %></li><% end %>
        <% if show_scheduling? %><li class="trips"><%= link_to translate_helper("application_trips_link_text"), trips_path %></li><% end %>
        <% if show_scheduling? %><li class="runs"><%= link_to translate_helper("application_runs_link_text"), runs_path %></li><% end %>
        <% if show_scheduling? %><li class="customers"><%= link_to translate_helper("application_customers_link_text"), customers_path %></li><% end %>
        <% if show_scheduling? %><li class="drivers"><%= link_to translate_helper("application_drivers_link_text"), drivers_path %></li><% end %>
        <% if show_scheduling? %><li class="vehicles"><%= link_to translate_helper("application_vehicles_link_text"), vehicles_path %></li><% end %>
        <% if show_scheduling? %><li class="reports"><%= link_to translate_helper("application_reports_link_text"), reporting.reports_path %></li><% end %>
        <% if current_provider.try(:cab_enabled?) %><li class="cab_trips"><%= link_to translate_helper("application_cabs_link_text"), cab_trips_path %></li><% end %>
        <% if show_scheduling? %><li class="cad"><%= link_to translate_helper("application_cad_link_text"), ridepilot_cad_avl.cad_avl_path, target: :_blank %></li><% end %>
      </ul>
    </div><!-- /.wrap -->
  </div><!-- /#crossbar -->
  <div class="main-wrapper">
    <div id="main" class="row">
      <div id="messages" class="wrap selfclear">
        <% if notice %>
          <p class="alert alert-info"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-danger"><%= alert %></p>
        <% end %>
      </div>
      <%= content_for?(:menu_bar) ? yield(:menu_bar) : '' %>
      <%= yield %>
    </div>
  </div>

  <%= render partial: 'layouts/footer' %>
  <%= yield :footer %>
  
  <%= render 'shared/application_alert_dialog' %>

  <% if current_user %>
    <%= javascript_tag do %>
      var current_provider_id = <%= current_provider_id %>;
      var current_user_id = <%= current_user.id %>;
      $(document).ready(function(){
        idleTimer = new IdleTimer();
        idleTimer.start();

        // this is to fix modal dialog under the fade mask
        $('.modal').appendTo("body") 
      });
    <% end %>
  <% end %>
  </div>
</body>
</html>
